<div class="container">
  <nav class="navbar bg-dark rounded navbar-dark">
    <a class="navbar-brand" href="#">
      <img src="/assets/logo.jpg" height="50" width="100" style="margin-left: 15%;" alt="Logo">
    </a>
    <div><h1 class="text-white" style="font-family: 'Times New Roman', Times, serif;">Market</h1></div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <button [routerLink]="'/category'" class="m-1 btn btn-light btn-outline-success">Category</button>
        <button routerLink="product" class="m-1 btn btn-light btn-outline-primary">Product</button>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>